@import url(http://fonts.googleapis.com/css?family=Pacifico|Open+Sans);

body.letter {
    background: url('../images/background-70.jpg') no-repeat center center / cover fixed ;
}

body.signup {
    text-align: center;
    margin-top: 10%;
}

.container-narrow {
    margin: 0 auto;
    max-width: 750px;
    padding: 20px;
    background: rgb(235, 235, 225);
    background: rgba(235, 235, 225, 1.0);
}

div#footer {
    text-align: center;
    font-size: 0.9em;
}

body.signup .container-narrow {
    background: rgb(205, 205, 205);
    background: rgba(205, 205, 205, .90);
}

.jumbotron {
    margin: 45px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.lead {
    margin: 0px 15%;
}

.nospam {
    font-family: 'Pacifico', sans-serif;
}

section.body header {
    text-align: right;
    padding-bottom: 2em;
}

section.body header h2 {
    text-align: center;
}

.published {

}

.entry-content {
    margin: auto 25px;
}

.author {
    text-align: right;
    padding: 2em;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
}


img.align-left, .figure.align-left, object.align-left {
    clear: left;
    float: left;
    margin-right: 1em;
}

img.align-right, .figure.align-right, object.align-right {
    clear: right;
    float: right;
    margin-left: 1em;
}

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.paginator {
    clear: both;
    text-align: center;
}

body {
  background: url('../images/background.jpg') no-repeat center center / cover fixed;
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  max-width: 760px;
  padding: 32px;
  margin: 0 auto;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 600;
  font-style: inherit;
  font-size: 67px;
  line-height: 96px;
  margin-top: 32px;
  margin-bottom: 0px;
}
h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 42px;
  line-height: 64px;
  margin-top: 32px;
  margin-bottom: 32px;
}
h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 26px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0px;
}
h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 16px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0px;
}
h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0px;
  margin-bottom: 32px;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  margin: 20px 0;
border: 0;
border-top: 1px solid #eee;
border-bottom: 1px solid #fff;
}
b, strong, em, small, code {
  line-height: 1;
}
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a {
  color: #268ED9;
}
