{% extends "!simple/article.html" %}
{% block title %}{{ SITENAME }} &mdash; {{ article.title|striptags }}{% endblock %}
{% block bodyclass %}letter{% endblock %}
{% block content %}
<section id="content" class="body">
  <header>
    <abbr class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </abbr>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
  </header>
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
  <footer class="post-info">
    {% if article.author %}
    <address class="vcard author">
      &mdash; <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
    </address>
    {% endif %}
  </footer><!-- /.post-info -->
</section>
{% endblock %}
