{% extends "base.html" %}
{% block title %}Read Ya!{% endblock %}
{% block bodyclass %}signup{% endblock %}
{% block body %}

    <div class="container-narrow well">
      <div class="jumbotron">
        <h1>Read Ya!</h1>
        <p class="lead">
          A free, periodic newsletter of Young Adult literature, new
          and old.
        </p>
      </div>
      <div class="signup">
        <form action="http://readya.us7.list-manage.com/subscribe/post?u=c8a21020869fba845a6706e99&amp;id=e34c4a18f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
          <input type="email" value="" name="EMAIL" class="email"
                 id="mce-EMAIL" placeholder="email address"
                 required>
          <div class="clear">
            <input type="submit"
                   value="Subscribe"
                   name="subscribe"
                   id="mc-embedded-subscribe"
                   class="btn btn-large btn-success">
          </div>
          <p class="nospam">We won't sell your address or spam you.
          Pinky swear.</p>
        </form>
      </div>

      <hr/>
      <div id="social">
<a href="https://twitter.com/read_ya" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @read_ya</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      </div>

      <div id="footer">
        <p>&copy; 2013, <a href="http://yergler.net/">Nathan
        Yergler</a> Questions? Email nathan@readya.org</p>
      </div>

    </div>
{% endblock %}
